<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Hospital Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Welcome to the Hospital Management System</h1>
    <p>Please <a href="{{ url_for('main.login') }}">log in</a> to access your dashboard.</p>
    <img src="{{ url_for('static', filename='images/h.jpg') }}" alt="Hospital Management System">
</body>
</html>
